table,
td {
    border: 1px solid rgb(34, 11, 240);
    border-collapse: collapse;
}

th {
    border: 2px solid black;
}

.rozvrh {
    border: 2px solid green;
}

.list {
    margin: auto;
    display: inline-block;
    align-items: ;
}

body {
    text-align: center;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}