table,th,td {
    border: 1px solid rgb(34, 11, 240);
    border-collapse: collapse; /* tak aby ohraničení tabulky collapsnulo do sebe*/
  }

body {
  background-color: rgb(68, 67, 67);
  color:white;
  text-align: center;
  font-size: 26;
  display: flex;
  justify-content: center;
  align-items: center;
  
  flex-direction: column;
  

}

.formular {
  background-color: aqua;
  border: 5px solid green ;
}